# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Kubernetes
*.yaml
*.yml

# Environment variables
.env

# Logs
*.log

# Node.js
node_modules/
package-lock.json

# Helm
*.tgz
demo-api/helm/**/Chart.yaml

# Ignore compiled output / temp
dist/
build/
.cache/

# Allow main playbooks
!ansible/playbooks/*.yml

# Allow group vars
!ansible/group_vars/*.yml

# Allow Ansible role YAMLs
!ansible/roles/**/tasks/*.yml
!ansible/roles/**/handlers/*.yml
!ansible/roles/**/defaults/*.yml
!ansible/roles/**/vars/*.yml
!ansible/roles/**/meta/*.yml

# Allow main Ansible config
!ansible/ansible.cfg

# GitLab CI/CD
!.gitlab-ci.yml

# Allow Helm and demo K8s YAMLs
!demo-api/helm/**/*.yaml
!demo-api/k8s/*.yaml

ansible/inventory
ansible/roles/nginx/tasks/main.yml.bak
!.ansible-lint.yml
!.yamllint
!.pre-commit-config.yaml
!Makefile
!/.github
!/.github/**
!ansible/collections/requirements.yml
!ansible/collections/
!ansible/collections/requirements.yml

# don’t commit installed Galaxy content
ansible/collections/ansible_collections/
\!package-lock.json
